.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-top: 50px;
}

.mid {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}